.header {
    display: flex;
    align-items: center;
    flex-shrink: 2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header :nth-child(2) {
    width: 80%;
  }

.header > * {
    flex: 0 0 auto;
}

.icon-size {
    font-size: 20px !important;
    cursor: pointer;
}

.flexitem {
    margin: 5px !important;
}